/* RESET
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*End of reset*/

::selection {
  color: rgba(71, 238, 109, 1);
  background: rgba(71, 238, 109, 0.2);
}

header {
  padding-block: 1.5em;
  text-align: center;
}

body {
  font-size: 20px;
  font-family: system-ui, sans-serif;
  color: white;
  background-image: url("images/black-smooth-textured-paper-background-web.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  background: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  margin-inline: auto;
  padding: 1.5em;
  border: 1px solid rgba(71, 238, 109, 0.05);
  border-radius: 9px;
  min-width: 350px;
  max-width: 400px;
  height: 700px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 9px;
  padding-block: 0.4em;
  padding-inline: 1em;
  height: 180px;
  white-space: normal;
  box-shadow: 0px 0px 3px 3px rgba(71, 238, 109, 1);
}

.displayed-data {
  max-width: 270px;
  font-size: 26px;
  font-family:
    Seven Segment,
    sans-serif;
  font-weight: 700;
  color: rgba(71, 238, 109, 1);
}

.btns-grid {
  display: grid;
  flex-grow: 1;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.btn {
  font-weight: 900;
  border-radius: 4px;
  color: #47ee6d;
  background-color: transparent;
  /* background-color: #1d1d1d; */
  /* border: 4px solid #47ee6d; */
  border: none;
  transition: 0.15s;
  cursor: pointer;
}
.btn--green {
  box-shadow: 0px 0px 3px 3px rgba(71, 238, 109, 1);
}

.btn--green:hover {
  box-shadow: 0px 0px 3px 5px rgba(71, 238, 109, 1);
}
.btn--green:active {
  box-shadow: 0px 0px 5px 7px rgba(71, 238, 109, 1);
}
.btn--green--active {
  box-shadow: 0px 0px 5px 7px rgba(71, 238, 109, 1);
}
.btn-plus {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 4;
  grid-column-end: 5;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 50px;
}

.fa-github {
  transition: 0.3s ease-in;
}
.fa-github:hover {
  scale: 130%;
  transform: translateY(-4px);
}
